<div>
    <span>Validar Ruta</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <center>
            <img src="img/tlogo.jpg">
        </center>
        <form role="form">
            <fieldset>
                <legend>Validar Datos Ruta</legend>
                <div class="form-group has-success has-feedback">
                    <label>Folio</label> <input class="form-control" placeholder="" type="number">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Barco</label> <select class="form-control">
                        <option value="{{barco.id}}">
                            {{barco.nombre}}
                        </option>
                    </select>
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Cliente</label> <select class="form-control">
                        <option value="{{cliente.CVE_EXPIMP}}">
                            {{cliente.NOMBRE}}
                        </option>
                    </select>
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Producto</label> <select class="form-control">
                        <option value="{{producto.producto}}">
                            {{producto.producto}}
                        </option>
                    </select>
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Placas</label> <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>ECO</label> <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Usuario</label> <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Remolque 1</label> <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Remolque 2</label> <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Carta Porte</label> <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Transportista</label> <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Operador</label> <input class="form-control" placeholder="" type="text">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Telefono</label> <input class="form-control" placeholder="" type="number">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>Destino/Origen</label> <input class="form-control" placeholder="" type="text">
                </div>
            </fieldset>
            <hr>
            <button class="btn btn-primary btn-block">Validar</button>
            <div></div>
        </form>
    </div>
</div>