<div ui-content-for="title">
  <span>Datos de Acceso</span>
</div>
<div class="scrollable">
 <div class="scrollable-content section">
   <center><img src="img/tlogo.jpg" /></center>
      <fieldset>
      <legend>Datos</legend>
        <table class="table">
  <thead>
      <tr>
          <th scope="col">Buque</th>
          <th scope="col">Muelle</th>
          <th scope="col">Agencia</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Usuario</th>
      <td>Mark</td>
    </tr>

    <tr>
      <th scope="row">Nombre</th>
      <td>Larry</td>
    </tr>
	<tr>
      <th scope="row">Empresa</th>
      <td>Larry</td>
    </tr>
	<tr>
      <th scope="row">Rol</th>
      <td>Larry</td>
    </tr>
  </tbody>
</table>
    </fieldset>
    <hr>


    <div ui-content-for="navbarAction">
      
    </div>

 </div>
</div>
