<div class="scrollable">
  <div class="scrollable-content">

    <div class="list-group text-center" style="margin-bottom: 0px;">
      <div class="list-group-item list-group-item-home">
          <center><img src="img/tlogo.jpg" /></center>
      </div>
        <div class="list-group-item list-group-item-home">
            <h3 class="home-heading">Bienvenido</h3>
            <label>{{lblUsuario}}</label>
        </div>
      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Control de Operaciones</h3>
            Verifica y supervisa la operación de descarga de tu mercancia.
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Revisión de tiempos</h3>
            Revisa las estadisticas de la operación en tiempo real.
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Maximiza tu productividad</h3>
			Con la verificación y la estadistica de la operación maximiza tu productividad.
        </div>
      </div>
    </div>  
  </div>
</div>
